local_assets/
build/
dist/
__pycache__/
.vs/
Release/
Debug/
backups/
*.obj
*.pdb
*.asi
*.exe
*.dll
*.ilk
*.tlog/
*.vcxproj.user
*.suo
*.log
*.idb
*.i64
*.dmp
imgui.ini
/tools/*
!/tools/verify_smg_native.py
!/tools/test-smg.cmd
/docs
/tests/*
!/tests/smg_tests.cpp
!/tests/kunai_tests.cpp
